.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #dde0ea;
}

.contents {
    display: flex;
    width: 96%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    max-width: 60%;
    flex-shrink: 1;
    ul {
        display: flex;
        list-style: none;

        li + li {
            margin-left: 10px;
        }
    }
}

.navLink {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

.logo {
  height: 50px;   /* 또는 50px */
  width: auto;
  object-fit: contain;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}