.tabContainer {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;

  li{
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      cursor: pointer;
      background-color: #797979;
      &.active {
        background-color: #ffffff;
      }
  }
  }
  .batterCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .batterCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    width: 200px;
    height:200px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
  }

  .batterInfo > div {
    margin: 4px 0;
    font-size: 14px;
  }

}



